body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 960px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

a:hover {
    color: #0000FF;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a:link,
nav a:visited {
    background-color: #ffffff;
    color: Black;
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px 0;
}

nav a:hover {
    background-color: #ff0000;
}

td,
th {
    border: 1px solid #000000;
    width: 20%;
    text-align: center;
    padding: 5px;
}

table {
    color: #000000;
    border-collapse: collapse;
}
