body,
body* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0px;
}

#main {
    transition: margin-left .5s;
    padding-left: 200px;
}

h1 {
    text-align: center;
}

p {
    margin-right: 60px;
    text-indent: 2vw;
    line-height: 1.5;
    font-size: medium;
}

.picCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

a:hover {
    color: #ff0000;
}

nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 10px;
    position: fixed;
    overflow: auto;
    border: solid #ff0000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav a:link,
nav a:visited {
    background-color: #ffffff;
    color: Black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px 5px;
}

nav a:hover {
    background-color: #fd5050;
}

td,
th {
    border: 1px solid #000000;
    width: 20%;
    text-align: center;
    padding: 5px;
}

td li {
    text-align: left;
}

table {
    color: #000000;
    border-collapse: collapse;
    margin-left: 60px;
}

li {
    line-height: 1.5;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* For large phone screens.*/

/*@media screen and (min-width: 400px) {
    #main {
        padding-left: 200px;
    }
    footer {
        padding-left: 200px;
    }
}
*/

/* For landscape mobile screens.*/

/*@media screen and (min-width: 568px) {
    .topnav a {
        float: none;
        width: 100%;
    }
    footer {
        padding-left: 200px;
    }
}
*/

/* For tablet screens*/

/*@media screen and (min-width: 768px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
*/

/* For small desktops/laptops screens*/

/*@media screen and (min-width: 1024px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
*/

/*Normal desktop screens*/

/*@media screen and (min-width: 1300px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}*/
